<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ACNH Villager Birthdays</title>
</head>
<style>
.calendar {
  position: sticky;
  top: 0;
  background: white;
}
.calendar p {
  margin: 0;
}
.villager {
  display: flex;
  align-items: center;
}
.villager img {
  max-width: 75px;
  max-height: 75px;
  margin-right: 20px;
}
.calendar-url {
  width: calc(100% - 60px);
}
.selected {
  background-color: #bcbcbc;
}
body {
  margin: auto;
  max-width: 500px;
  border-radius: 5px;
  background-color: white;
  /* System Fonts as used by GitHub */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
html {
  background-color: #fadbff;
}
.intro {
  text-align: center;
}
.intro ol {
  display: inline-block;
  text-align: left;
}
.hidden {
  display: none;
}
.link {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}
header {
  display: flex;
  align-items: center;
}
header h1 {
  flex: 1 0 auto;
  font-size: 1.8em;
}
header span {
  font-size: 3em;
}
@media(max-width: 500px) {
  header h1 {
    font-size: 1.3em;
  }
  header span {
    font-size: 1.7em;
  }
}
.copy {
  cursor: pointer;
}
.villager .name {
  font-weight: bold;
}
.villager .birthdate {
  color: #444;
}
</style>
  
<body>

<div class="intro">
<header>
  <span>🎂</span>
  <h1>Villager Birthday Calendar</h1>
  <span>🎁</span>
</header>
<h2>Never let a villager's birthday sneak up on you again! 🎉</h2>
<ol>
<li>Find your villagers</li>
<li>Tap each one</li>
<li>Click "Subscribe" to import!</li>
</ol>

<p>Or, click "Copy" and add by URL: <a href="https://calendar.google.com/calendar/r/settings/addbyurl">Google Calendar</a></p>
</div>
<div class="calendar hidden">
<p>
  <input type="text" class="calendar-url">
  <span class="copy">Copy</span>
</p>
<p class="link"><a href="">Subscribe</a></p>
</div>
{% for val in villagers %}
<div class="villager" data-name="{{val.name['name-en'].toLowerCase()}}">
  <img alt="{{val.name['name-en']}}" loading="lazy" src="https://acnhapi.com/v1/images/villagers/{{val['file-name']}}" width="250" height="250">
  <p><span class="name">{{val.name['name-en']}}</span> <span class="birthdate">- {{val['birthday-string']}}</span></p>
</div>
{% endfor %}

<footer>
  <p>Built with <a href="https://acnhapi.com/">ACNH API</a></p>
</footer>


<script>
let names = [];
document.querySelector('.calendar-url').addEventListener('focus', e => {
  e.target.select();
});
const closest = (el, className) => {
  if (el.classList.contains(className)) {
    return el;
  }
  return closest(el.parentElement, className);
}
document.querySelectorAll('.villager').forEach(v => {
  v.addEventListener('click', e => {
    const el = closest(e.target, 'villager');
    const name = el.dataset.name;
    updateVillager(name);
    el.classList.toggle('selected');
    renderImg();
  });
})
const updateVillager = name => {
  if (names.includes(name)) {
    names = names.filter(n => n !== name);
  } else {
    names = [...names, name];
  }
}

const renderImg = () => {
  const calendarUrl = document.querySelector('.calendar-url');
  const villagers = encodeURIComponent(names.join(','));
  const url = `webcal://acnh-birthdays.steele.blue/cal?villagers=${villagers}`;
  calendarUrl.value = url;
  document.querySelector('.link a').href=url;
  const calendarWrapper = document.querySelector('.calendar');
  if (names.length > 0) {
    calendarWrapper.classList.remove('hidden');
  } else {
    calendarWrapper.classList.add('hidden');
  }
}
document.querySelector('.copy').addEventListener('click', async e => {
  const calendarUrl = document.querySelector('.calendar-url');
  await navigator.clipboard.writeText(calendarUrl.value);
})
</script>
</body>

</html>
